/********
 * HERO *
 ********/

.hero {
    position: relative;
    background-image: url('https://ronntorossian.com/wp-content/uploads/2019/09/spotify-marketing.jpg');
}

.hero-container {
  padding: 24.5rem 1.5rem 0 1.5rem;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-title {
    font-size: 5rem;
    color: #78b300;
    text-align: center;
    font-weight: 700;
    margin-bottom: 4rem;
    line-height: 5rem;
    letter-spacing: -0.3rem;
}

.hero-button {
  padding: 2rem 6rem;
  border: none;
  border-radius: 3rem;
  color: var(--white);
  background: var(--green2);
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  outline: none;
  cursor: pointer;
  transition: all 0.4s ease;
  margin-bottom: 3rem;
}

.hero-button:hover {
  background: var(--green1);
}

.terms {
  display: flex;
  margin-bottom: 2rem;
}

.hero-terms-link,
.hero-terms-link + span,
.terms > span {
  font-size: 1.2rem;
  color: black;
}

.hero-terms-link,
.terms > span {
  margin-right: 0.2rem;
}

.hero-terms-link {
  text-decoration: underline;
  transition: all 0.6s ease;
}

.hero-terms-link:hover {
  color: var(--white);
}
